In [5]:
from bs4 import BeautifulSoup
import requests

def vehicle_scape():
    response = requests.get('https://en.wikipedia.org/wiki/List_of_countries_by_vehicles_per_capita')
    response.status_code

    #Parse Wiki Data
    soup = BeautifulSoup(response.content, 'html.parser')
    table = soup.find_all('table')[0]
    headers = [val.text.strip() for val in table.find_all('th')] #Headers

    table_rows = table.find_all('tbody')[0].find_all('tr')  #Aggregate Rows
    row_data = []
    for val in table_rows[1:]:
        for index in range(len(val.find_all('td'))):
            row_data.append(val.find_all('td')[index].text.strip())

    #Convert to DataFrame
    import pandas as pd
    auto_df = pd.DataFrame()
    for col_num in range(len(headers)):
        auto_df[headers[col_num]] = row_data[col_num::4]
    #sorted(auto_df['Country or region'].unique())
    return auto_df

In [6]:
vehicle_scape()

,Country or region,"Motor vehiclesper 1,000 people",Total,Year
0,Gibraltar,"1,444","48,641",2022[1]
1,Guernsey,"1,365","86,000",2014[2]
2,San Marino,"1,300","44,200",2022[3]
3,Liechtenstein,"1,193","45,800",2022[4]
4,Andorra,"1,050","81,000",2021[5]
...,...,...,...,...
191,Somalia,5,"80,000",2017[200]
192,Sudan,4,"181,000",2019[201][202]
193,Republic of the Congo,4,"22,540",2020[203]
194,Central African Republic,4,"19,300",2019[83][204]
195,North Korea,1,"30,000",2022[205]